<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Score More</title>
  <link rel="stylesheet" href="/css/styles.css">
  </head>
<body>
  <div class="wrapper">
    <p style="font-size: 3rem;">Whoops! Your room code was not found 😓</p>
    <p style="font-size: 2rem;">Something went wrong. Check your room code and try again.</p>
  </div>
</body>
</html>
