<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Score More</title>
  <link rel="stylesheet" href="/css/styles.css">
  </head>
<body>
  <div class="wrapper">

    <div id="title">
      <h1 id="game-title">Score More</h1>
      <p id="code"></p>
      </div>

      <div id="display">
        <div id="scores">
          <p class="section-title">Score History</p>
        </div>

        <div id="players">
          <p class="section-title">Players</p>
        </div>
      </div>

      <div id="dropdowns">
        <div id="history-dropdown" class="dropdown">
          <label for="history-select">View scores of:</label><br>
          <select name="history-select" id="history-select">

          </select>
        </div>

        <div id="sort-dropdown" class="dropdown">
            <label for="score-sort">Sort Scores by:</label><br>
            <select name="score-sort" id="score-sort">
              <option value="descending" class="selection">High to Low</option>
              <option value="ascending" class="selection">Low to High</option>
            </select>
          </div>
      </div>

      <form id="score-form">
        <input type="number" class="input-field" id="input" autocomplete="off" required>
        <button type="submit" class="button">Score</button><br>
        </form>


      <!-- START JAVASCRIPT -->
      <!--        -->
      <script src="/socket.io/socket.io.js"></script>
      <script>
        const form = document.getElementById('score-form')
        const scoreBoard = document.getElementById('players')
        const scoreSort = document.getElementById('score-sort')
        const playerName = window.location.pathname.split('/')[3]
        const roomCode = window.location.pathname.split('/')[2]
        const historySelect = document.getElementById('history-select')
        const scoreHistory = document.getElementById('scores')
        document.getElementById('code').innerText = `Room Code: ${roomCode}`

        socket = io({
          extraHeaders: {
            'playerName': playerName,
            'roomCode': roomCode
          }
        })

        let roster = []
        let selectedPlayer = playerName

        socket.on('connect', () => {
          socket.emit('join-room', roomCode)
        })

        socket.on('update-board', (response) => {
          let newRoster = []
          let scores = []
          let sortBy = scoreSort.value
          scoreBoard.innerHTML = '<p class="section-title">Players</p>'
          response.forEach((player) => {
            newRoster.push(player.value)
            scores.push(player.score)
          })
          if (sortBy === "descending") {
            newRoster.reverse()
            scores.reverse()
          }
          for (let i=0; i < scores.length; i++) {
            scoreBoard.insertAdjacentHTML('beforeend', `<p>${newRoster[i]}: ${scores[i]}</p>`)
          }
          if (roster.length !== newRoster.length) {
            historySelect.innerHTML = ''
            roster = newRoster
            roster.forEach((name) => {
              historySelect.insertAdjacentHTML('beforeend', `<option value="${name}" class="selection">${name}</option>`)
            })
          }
          socket.emit('get-history', roomCode, selectedPlayer)
        })

        socket.on('send-history', (history) => {
          let i = 1
          scoreHistory.innerHTML = `<p class="section-title">${selectedPlayer}'s Score History</p>`
          history.forEach((entry) => {
            scoreHistory.insertAdjacentHTML('beforeend', `<p>Round ${i} :[ ${entry} ]</p>`)
            i++
          })
        })

        form.addEventListener('submit', (e) => {
          e.preventDefault()
          const inputValue = document.getElementById('input').value
          socket.emit('update-score', roomCode, playerName, inputValue)
          document.getElementById('input').value = ''
        })

        historySelect.addEventListener('change', (e) => {
          selectedPlayer = e.target.value
          socket.emit('get-history', roomCode, selectedPlayer)
        })

        scoreSort.addEventListener('change', (e) => {
          socket.emit('update-order', roomCode)
        })
      </script>
      <!--        -->
  </div>
</body>
</html>
