body {
  overflow: hidden;
  background-color: #7FD1B9;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  width: 100svw;
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  background-color: #E56399;
  width: 80vw;
  text-align: center;
  border: 2px solid black;
  color: white;
}

#game-title {
  margin: 1rem 0 0 0;
}

#code {
  margin-top: 0;
}

#create {
  text-decoration: none;
  color: white;
  background-color: blue;
  padding: 4px;
  border-radius: 4px;
}

#display {
  display: flex;
  justify-content: space-around;
}

#scores, #players {
  background-color: white;
  text-align: center;
  height: 60vh;
  width: 40vw;
  border: 1px solid black;
  color: black;
  overflow: auto;

  .section-title {
    background-color: #E56399;
    margin-top: 0;
    color: white
  };
}

#score-form {
  text-align: center;
  margin-top: 1rem;
}

#identifier {
  margin: 0;
}

#dropdowns {
  width: 80%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#history-dropdown, #sort-dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
}

#score-sort, #history-select {
  background-color: white;
  color: black;
  flex-grow: 1;
}

.button {
  background-color: #E56399;
  border: none;
  transition: ease-in-out 0.2s;
  padding: .5rem;
  border-radius: 12px;

  &:hover {
    background-color: orange;
  }
}

.input-field {
  border-radius: 12px;
  padding: .5rem;
  border: none;
}

.introduction {
  font-weight: bold;
  text-align: center;
  padding: 12px;
}

.tagline {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0;
  text-align: center;
}

.heading1 {
  margin-bottom: 0;
  color: #6c269b;
  font-weight: bold;
  font-size: 4rem;
}

select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  padding: .25em .25em .25em .25em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.dropdown {
  position: relative;
  width: 45%;
}

.key {
  font-size: 1.75rem;
  width: 3rem;
  height: 2rem;
  text-align: center;
  background-color: transparent;
  border: solid 1px black;
  border-radius: 4px;
  margin: 2px;
}

#buttons {
  display: flex;
  margin-top: 4px;
}

#input {
  border: solid 1px black;
  border-radius: 4px;
  background-color: white;
}
